In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import warnings

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
train_df

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,loan_status
0,13375,0.1797,483.34,MORTGAGE,223000.0,Not Verified,n,29.99,0,0,...,50.0,0,0,577150,122018,32000,170200,N,N,low_risk
1,21000,0.1308,478.68,MORTGAGE,123000.0,Source Verified,n,11.26,2,0,...,33.3,0,0,132750,27896,15900,35398,N,N,low_risk
2,20000,0.1240,448.95,MORTGAGE,197000.0,Source Verified,n,11.28,0,0,...,33.3,0,0,628160,114043,22600,90340,N,N,low_risk
3,3000,0.1240,100.22,RENT,45000.0,Not Verified,n,18.08,0,0,...,16.7,1,0,42006,20761,19900,15406,N,N,low_risk
4,30000,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,n,27.77,0,2,...,66.7,0,0,283248,109056,79500,58778,N,N,low_risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975,0.2565,801.09,RENT,28000.0,Not Verified,n,28.42,0,0,...,16.7,0,0,50055,28192,18700,19055,N,N,high_risk
12176,15000,0.1774,540.34,RENT,50000.0,Verified,n,23.43,4,0,...,11.1,0,0,70324,57025,13300,54824,N,N,high_risk
12177,3600,0.1862,131.28,RENT,60000.0,Not Verified,n,28.80,0,1,...,0.0,0,0,83765,55156,14800,53065,N,N,high_risk
12178,15000,0.0881,475.68,MORTGAGE,62000.0,Source Verified,n,11.44,0,0,...,0.0,0,0,189930,23748,7000,32930,N,N,high_risk
12179,15000,0.1774,540.34,RENT,54080.0,Not Verified,n,21.66,1,1,...,100.0,0,0,48968,29786,2900,33968,N,N,high_risk

In [4]:
test_df

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,target
0,40000.0,0.1033,856.40,RENT,128700.0,Source Verified,n,12.47,0.0,1.0,...,57.1,0.0,0.0,63915.0,49510.0,49400.0,14515.0,Y,N,low_risk
1,24450.0,0.1430,572.72,MORTGAGE,44574.0,Not Verified,n,15.05,0.0,1.0,...,0.0,0.0,0.0,136425.0,19439.0,15500.0,18925.0,N,N,low_risk
2,13500.0,0.1430,316.23,OWN,60000.0,Not Verified,n,28.72,0.0,0.0,...,0.0,0.0,0.0,82124.0,65000.0,5400.0,61724.0,Y,N,low_risk
3,10625.0,0.1774,268.31,RENT,60000.0,Verified,n,15.70,0.0,4.0,...,20.0,0.0,0.0,54855.0,50335.0,23200.0,26255.0,N,N,low_risk
4,6375.0,0.1862,232.46,RENT,60000.0,Source Verified,n,35.50,0.0,0.0,...,75.0,0.0,0.0,90445.0,56541.0,15300.0,72345.0,N,N,low_risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,RENT,140480.0,Source Verified,n,15.74,0.0,0.0,...,28.6,0.0,0.0,159688.0,110873.0,48400.0,107388.0,N,N,high_risk
4698,24000.0,0.0756,747.22,RENT,50000.0,Not Verified,n,26.81,0.0,0.0,...,0.0,0.0,0.0,62375.0,18928.0,13300.0,30775.0,N,N,high_risk
4699,10000.0,0.2305,387.36,RENT,33000.0,Verified,n,38.51,0.0,2.0,...,0.0,0.0,0.0,43250.0,33022.0,8500.0,29550.0,N,N,high_risk
4700,8000.0,0.1862,205.86,RENT,38000.0,Source Verified,n,16.36,0.0,1.0,...,0.0,1.0,0.0,31357.0,19595.0,1500.0,9657.0,N,N,high_risk
4701,30000.0,0.2055,1123.34,RENT,180000.0,Source Verified,n,12.06,0.0,0.0,...,33.3,0.0,0.0,218686.0,209389.0,5600.0,209986.0,N,N,high_risk

In [5]:
X_train = pd.get_dummies(train_df.drop(columns=['loan_status']))
y_train = train_df['loan_status']

In [6]:
X_train

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,13375,0.1797,483.34,223000.0,29.99,0,0,15,0,39728,...,0,1,0,1,1,0,1,0,1,0
1,21000,0.1308,478.68,123000.0,11.26,2,0,16,0,9585,...,0,1,0,1,1,0,1,0,1,0
2,20000,0.1240,448.95,197000.0,11.28,0,0,12,0,16708,...,0,1,0,1,1,0,1,0,1,0
3,3000,0.1240,100.22,45000.0,18.08,0,0,12,1,8809,...,0,1,0,1,1,0,1,0,1,0
4,30000,0.1612,1056.49,133000.0,27.77,0,2,13,0,65420,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975,0.2565,801.09,28000.0,28.42,0,0,15,0,9679,...,0,1,0,1,1,0,1,0,1,0
12176,15000,0.1774,540.34,50000.0,23.43,4,0,16,0,3193,...,1,1,0,1,1,0,1,0,1,0
12177,3600,0.1862,131.28,60000.0,28.80,0,1,14,0,11804,...,0,1,0,1,1,0,1,0,1,0
12178,15000,0.0881,475.68,62000.0,11.44,0,0,5,0,157,...,0,1,0,1,0,1,1,0,1,0
12179,15000,0.1774,540.34,54080.0,21.66,1,1,5,0,8349,...,0,1,1,0,1,0,1,0,1,0

In [7]:
X_test = pd.get_dummies(test_df.drop(columns=['target']))
y_test = test_df['target']

In [8]:
X_test

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,1,0,1,0,1,1,0,0,1,1
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,0,1,0,1,1,0,1,0,1
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,0,1,0,1,1,0,0,1,1
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,0,1,1,0,1,1,0,1,0,1
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,1,0,1,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,1,0,1,1,0,1,0,1,0,1
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,0,1,0,1,1,0,1,0,1
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,0,1,1,1,0,1,0,1,0,1
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,1,0,1,0,1,1,0,1,0,1
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,1,0,1,1,0,1,0,1,0,1

In [9]:
# add missing dummy variables to testing set
for col in X_train.columns:
    if col not in X_test.columns:
        X_test[col] = 0

In [10]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',random_state=1)
classifier 
warnings.filterwarnings("ignore")

In [11]:
classifier.fit(X_train, y_train)
classifier.score(X_train, y_train)

0.6509852216748768

In [12]:
classifier.score(X_test, y_test)

0.5091450446618461

In [13]:
#Logistic Regression model score on the unscaled data 
print(f'Training Score: {classifier.score(X_train, y_train)}')
print(f"Testing Score: {classifier.score(X_test, y_test)}")

Training Score: 0.6509852216748768
Testing Score: 0.5091450446618461

In [14]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

0.6339855380689069

In [15]:
classifier.score(X_train, y_train)

1.0

In [16]:
#Random Forest Classifier model score on the unscaled data
print(f'Training Score: {classifier.score(X_train, y_train)}')
print(f"Testing Score: {classifier.score(X_test, y_test)}")

Training Score: 1.0
Testing Score: 0.6339855380689069

The RandomForestClassifier model accuracy score is 63% accuracy where as LogisticRegression model accuracy score is only 50% .
So the RandomForestClassifier model is more acurate.

In [17]:
# Scale the data
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [18]:
# Train the Logistic Regression model on the scaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier2 = LogisticRegression()
classifier2.fit(X_train_scaled, y_train)
classifier2.score(X_test_scaled, y_test)

#Logistic Regression model score on the scaled data 
print(f'Training Score: {classifier2.score(X_train_scaled,y_train)}')
print(f'Testing Score: {classifier2.score(X_test_scaled, y_test)}')

Training Score: 0.7078817733990148
Testing Score: 0.7615908124202467

In [19]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled,y_train)

#Random Forest Classifier model score on the scaled data
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.6401531263292216

In [ ]:
In the LogisticRegression accuracy increases from 50% on the unscaled data  to 76% on the scaled data
The RandomForestClassifier accuracy doesnt show much change from 63% on the unscaled data to 64% scaled data. 
This shows that the LogisticRegression could be sensitive to how the data is scaled, while random forests are not.